/* サイドバーのスタイル */
.sidebar {
    width: 10%;
    /* 幅を100%に設定 */
    height: 100%;
    position: fixed;
    /* フィックスドポジション */
    top: 0;
    /* 上端に配置 */
    left: 0;
    /* 左端に配置 */
    background-color: rgb(176, 226, 226);
    padding: 20px;
    z-index: 1000;
    /* サイドバーを最前面に表示 */
}

/* メインコンテンツのスタイル */
.main-content {
    margin-left: 12%;
    background-color: rgb(152, 219, 174);
}

/* テキストを右に寄せるスタイル */
.main-content p,
.main-content h1,
.main-content h2,
.main-content h3 {
    text-align: center;
}

body {
    background-color: antiquewhite;
}